{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Baskara Tutorial">
    <meta name="keywords" content="Baskara Tutorial">
    <title>Dashboard | Baskara Tutorial</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css">
    <style>
        .django-ckeditor-widget {
            width: 100%;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand text-uppercase" href="{% url 'appadmin:home' %}">
                <span class="text-danger">Dashboard</span>
                <span class="text-light">Baskara</span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link text-uppercase" href="{% url 'appadmin:home' %}">Dashboard</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-uppercase" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Manage
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li>
                                <a class="dropdown-item" href="{% url 'appadmin:list' %}">Daftar Artikel</a>
                                <a class="dropdown-item" href="{% url 'appadmin:create' %}">Buat Artikel</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-uppercase" href="{% url 'appadmin:profil' %}">Pengaturan</a>
                    </li>
                    {% if user.is_superuser %}
                    <li class="nav-item">
                        <a class="nav-link text-uppercase" href="{% url 'appadmin:iklan' %}">Iklan</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-uppercase" href="{% url 'appadmin:about' %}">About</a>
                    </li>
                    {% endif %}
                </ul>
                <div class="d-flex">
                    <a class="btn btn-sm btn-light text-uppercase" href="{% url 'logout' %}">
                        <span class="h6"><i class="bi bi-box-arrow-in-left"></i></span>
                        <span>Keluar</span>
                    </a>
                </div>
            </div>
        </div>
    </nav>
    <div class="container mt-1">{% block Maincontents %}{% endblock Maincontents %}</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>