{% extends 'appadmin/index.html' %}{% load static %}
{% block Maincontents %}
<form method="post">
    {% csrf_token %}
    <div class="row justify-content-center">
        <div class="col-md-4 mt-4">
            <div class="card">
                <div class="card-header bg-danger text-light">
                    <p class="card-title text-uppercase text-center p-0 m-0">{{heading}}</p>
                </div>
                <div class="card-body">
                    <div class="form-floating mb-2">
                        {{form.nama1}}
                        {{form.nama1.label_tag}}
                    </div>
                    <div class="form-floating mt-2 mb-2">
                        {{form.nama2}}
                        {{form.nama2.label_tag}}
                    </div>
                    <div class="form-floating mt-2 mb-2">
                        {{form.nohp}}
                        {{form.nohp.label_tag}}
                    </div>
                    <div class="form-floating mt-2 mb-2">
                        {{form.email}}
                        {{form.email.label_tag}}
                    </div>
                </div>
                <div class="card-footer">
                    <div class="d-grid">
                        <button class="btn btn-danger" type="submit">Simpan</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock Maincontents %}