{% extends 'appadmin/index.html' %}{% load static %}

{% block Maincontents %}
<div class="row">
    <div class="col-md">
        <div class="table-responsive">
            <table class="table table-sm table-borderless table-striped table-hover">
                <thead class="bg-danger text-light">
                    <tr>
                        <td class="text-center align-middle">No</td>
                        <td class="text-start align-middle">Judul</td>
                        <td class="text-start align-middle">Kategori</td>
                        <td class="text-center align-middle">Published</td>
                        <td class="text-center align-middle">Edited</td>
                        <td class="text-center align-middle">Status</td>
                    </tr>
                </thead>
                <tbody>
                    {% for artikel in list_artikel|dictsortreversed:"edited" %}
                    <tr>
                        <td class="text-center align-middle">{{forloop.counter}}</td>
                        <td class="text-start align-middle">
                            <a class="text-decoration-none text-dark"
                                href="{% url 'appadmin:update' artikel.slug %}">{{artikel.judul}}</a>
                        </td>
                        <td class="text-start align-middle">{{artikel.kategori}}</td>
                        <td class="text-center align-middle">{{artikel.posted}}</td>
                        <td class="text-center align-middle">{{artikel.edited}}</td>
                        <td class="text-center align-middle">
                            {% if artikel.status == '1' %}
                            <span class="badge bg-success">Published</span>
                            {% else %}
                            <span class="badge bg-warning">Drafted</span>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                        <span class="fa fa-angle-double-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                {% endif %}
                <li class="page-item"><span class="page-link">{{ page_obj.number }}</span></li>
                {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                        <span class="fa fa-angle-double-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>
{% endblock Maincontents %}