{% extends 'appadmin/index.html' %}{% load static %}

{% block Maincontents %}
<form method="post">
    {{form.media}}
    {% csrf_token %}
    <div class="row">
        <div class="col text-end">
            <div class="mt-2 mb-2 d-grid">
                <button class="btn btn-danger" type="submit">Save</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                {{form.body}}
            </div>
        </div>
    </div>
</form>
{% endblock Maincontents %}